@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poller+One');

body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right, #6f03fc, #b392de);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
}

#appTitle {
    font-family: 'Poller One', sans-serif;
    max-height: 200px;
    cursor: default;
    margin-bottom: 2.5vh;
}
#appTitle>h1 {
    font-size: 80px;
    color: black;
    font-weight: 500;
    position: relative;
}

.propertiesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 10px;
    /* width: 100%; */
    width: 350px;
}

.propertySection, .scoreSection{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    max-width: 230px;
}

.propertySection > select {
    width: 230px;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #e4eff8;
    background-color: #e4eff8;
    border-radius: 15px; 
}

.propertySection > label {
    color: #999;
    font-size: 15px;
    margin-bottom: 3px;
    margin-left: 8px;
}

.scoreSection > label {
    margin: auto;
}

.btn {
    padding: 15px;
    width: 180px;
    border: none;
    border-radius: 50px;
    color: #f2ebf5;
    cursor: pointer;
    background-color: #b392de;
    border: unset;
    align-self: center;
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-right: 5px;
    outline: none;
}

.btn:hover {
    background-color: #6f03fc;
    transition: .5s;
}

.hide {
    position: absolute;
    visibility:hidden;
    display: none;
}

.answerGroup {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.questionDiv, .summaryDiv {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 10px;
    /* width: 100%; */
    width: 450px;
    margin-bottom: 20px;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #333;
}

.buttons, .summaryInfoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.summaryInfoDiv {
    width: 60%;
    justify-content: space-between;
    margin: auto;
}

#skipButton {
    margin-left: 15px;
}

.timer {
    font-size: 30px;
    margin: auto;
}

.score {
    font-size: 50px;
    margin: auto;
}

.scoreSection {
    padding: 20px;
}

.progress {
    background: rgba(255,255,255,0.2);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    height: 20px;
    width: 480px;
    margin-bottom: 25px;
  }
  
.progress-value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 50px;
    background: #fff;
    height: 18px;
}

.answerScore {
    font-size: 28px;
    margin: auto;
}

@media only screen and (max-width: 530px) {
    #appTitle > h1{
        font-size: 50px;
    }

    .propertiesDiv, .questionDiv, .summaryDiv {
        width: 320px;
    }

    .progress{
        width: 350px;
    }

    .buttons {
        flex-direction: column;
    }

    .btn {
        margin-right: 0;
    }

    #skipButton {
        margin-left: 0;
    }
}